@charset "UTF-8";

/* MOBILE FIRST */

* {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  
}


 body , html {
  height: 100vh;
  background: url(../imagens/sean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

main {
  text-align: justify;
  
}

h1 {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
}

 p#texto {
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
 }

 div {
  
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  width: 600px;
  height: 300px;
  
  
  
 }

div#form {
  
  position: relative;
  
        left: 25%;
        top: 20%;
        
 }
 

div#img {
  position: absolute;
  background-image: url(../imagens/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  right: 25%;

 
 }


  input {
    padding: 10px;
    margin: 2.5px;
  }

  p#botoes {
    text-align: center;
  }



