@charset "UTF-8";

/* MOBILE FIRST */

* {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}


 body , html {
  height: 100vh;
  background: url(../imagens/sean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

main {
  text-align: justify;
  
}

h1 {
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

 p#texto {
  font-size: 1.1em;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
 }

 div {
  
  text-align: center;
  
  
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 10px;
  width: 60vh;
  height: 300px;
  
  
  
 }

div#form {
  
  position: absolute;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
        
 }
 

div#img {
  position: absolute;
  background-image: url(../imagens/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 50%;
        left: 64.8%;
        transform: translate(-50%, -50%);

 
 }


  input {
    margin: 5px;
    background-color: rgba(144, 238, 144, 0.466);
    
  }

  .botoes {
    width: 500px;
    height: 20px;
    padding: 16px 16px 16px 16px;
    margin: auto;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.418);
    font-weight: bold;
  }

  .botoes1 {
    width: 500px;
    height: 20px;
    padding: 16px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.418);
    font-weight: bold;
  }

  .caixa{
    padding: 5px;
    border-radius: 15px;
    border: 3px solid blueviolet;
    width: 500px;
    height: 20px;

  }

